In [62]:
#  Importing required libraries
import pandas as pd
import sqlite3

In [63]:
# creating the data base and creating cursor to include the data
db = sqlite3.connect('database.db')
cr = db.cursor()

In [64]:
# Creating table with three keys (columns)
cr.execute("create table if not exists equip_info (equipment_code integer, type text, working_hours integer)")

In [65]:
# Inserting data
cr.execute("insert into equip_info(equipment_code, type, working_hours) values(3210, 'generator', 1250 )")
cr.execute("insert into equip_info(equipment_code, type, working_hours) values(6109, 'generator', 32456)")
cr.execute("insert into equip_info(equipment_code, type, working_hours) values(3105, 'generator', 14323)")

In [66]:
# Applying changes to the database
db.commit()

In [67]:
# Reading the database into a dataframe using pandas
df = pd.read_sql_query("SELECT * from equip_info", db)

In [68]:
df.head()

   equipment_code       type  working_hours
0            3210  generator           1250
1            6109  generator          32456
2            3105  generator          14323

In [69]:
db.close()